.services {
  width: 100vw;
  position: relative;
  background-color: #ffffff;
    color:var(---services-font-color);
  padding: 0 10%;
}

.service-top-con {
  position: relative;
  gap: 20px;
  top:-100px;
}
.service-item {
  box-shadow: 0px 25px 60px rgb(66 85 164 / 6%);
  padding: 29px 24px;
  border-radius: 20px;
  background: #fff;
  padding: 29px 24px;
    gap:20px;
    max-width: 33%;
}

.service-item__img-con{
         position: relative;
    top: 8px;
}



.service-item h3 {
 margin-bottom: 10px;
 font-size: 1.25rem;
}

.service-item p {
  font-size: 1.0625rem;
  line-height: 1.5;
}


.services-main-con{
    padding: 100px 0;
}

.services-main-con h2{
    text-align: center;
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 50px;
}

@media screen and (max-width: 1330px) {
 .services {

  
  padding: 0 6%;


}
  .service-item{
    width: 370px;

  }
}


@media screen and (max-width: 1200px) {

  
  .service-item p{
    font-size: 0.9375rem;

  }
}

@media screen and (max-width: 1040px) {
 .services {

  
  padding: 0 6%;


}
  .service-item{
    width: 300px;
    padding: 18px 14px;
    
  }
  
  .service-item p{
    font-size: 0.9375rem;

  }
}



@media screen and (max-width: 990px) {
  .services {
 
  padding: 0 4%;


}
  .service-top-con{
  flex-wrap: wrap;
  justify-content:center;
  }
  .service-item{
    width: 350px;
    max-width: 100%;
  }
  .right{
    align-self: center;
    margin: 0 auto;
  }
  
.service-item__img-con{
    top: -5px;
}
}




@media screen and (max-width: 784px) {
  .services {
  padding: 0 8%;
}
  .service-top-con{
  flex-wrap: wrap;
  justify-content:center;
  }
  .service-item{
    width: 330px;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .right{
    align-self: center;
    margin: 0 auto;
  }
  
.service-item__img-con{
         position: relative;
    top: -5px;
}
}

@media screen and (max-width: 567px) {
.section__title{
  font-size: 27px;
}
}

