.CTA{
    padding: 0 5%;
    gap:20px;
    align-content: center;
    justify-content:space-around;
    margin-bottom: 50px;
}
.CTA__img-con{
    /* max-width: 568px; */
}
.CTA__img-con img{
    width:100%
}

.CTA__text-con{
        width: 32%
}

.CTA__text-con h2{
    text-align: left;
    margin-bottom: 21px;
}

.CTA__text-con .CTA-text-min-con{
        max-width: 650px;
        display: flex;
        gap:20px;


}

.CTA__text-con p{
        font-size: 15px;
    line-height: 1.8;
    color: #4255A4;

}

@media screen and (max-width: 1300px) {

.CTA__img-con {
    max-width: 568px;
}
.CTA__text-con{
        width: 40%
}
}


@media screen and (max-width: 1200px) {
 .CTA{
  padding: 0 3%; 
 }

.CTA__img-con {
    max-width: 550px;
}
}

@media screen and (max-width: 990px) {
 .CTA{
    flex-direction: column;
    height:auto;
    padding: 0 5%;
    align-items: start;
 }

 .CTA__text-con{
        width: 82%
}

}