.nav {
  background-color: var(--blue);
  padding: 20px 30px;
  height: --nav-height;
  width: 100vw;
}
.nav.scrolled{
  position:fixed;
  z-index: 40;
  width: 100%;
  top:0;
      background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);
  padding: 20px 60px;
transition: all .2s linear ;
}

.logo-con {
  flex: 1;
}

.nav-con {
  flex: 1;
  margin-right: 20px;
}

.nav__links {
  width: 60%;
}

.sign-con {
  width: 30%;
  height: 100%;
  padding-right: 50px;
  gap: 20px;
}
.sign-con li {
  height: 52px;
  width: 100%;
  position: relative;
}

.sign-con li a {
  width: 108px;
  height: 52px;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid var(--header-color);
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.2s linear;
}

.sign-con li:first-child a,
.sign-con li:last-child a:hover {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  transition: background-color 0.2s ease-in-out;
}

.sign-con li:first-child a:hover {
  background-color: #ae59ff;
  border: #ae59ff;
}

.mobile-nav {
  font-size: 38px;
  display: none;
}

@media screen and (max-width: 1370px) {
  .nav {
    /* max-width: 95%; */
    padding: 20px 7%;
  }
  .sign-con {
  padding-right: 70px;
}
}

@media screen and (max-width: 990px) {
  .nav {
    max-width: 100%;
    padding: 20px 7%;
    position: relative;
  }

  .show-nav {
    display: block;
    opacity: 10;
  }
 
  .nav__links,
  .sign-con {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    display: none;
  }
  .nav-con {
    position: absolute;
    top: 88px;
    width: 88%;
    background-color: #c86fff;
    padding: 0px;
    display: block;
    transition: height .2s ease-in-out;
    height: 0;
    left: 4%;
  }
  .show{
    height: 361px;
    padding: 12px;
  }

  .nav-con.show{
    border-bottom: 1px solid white;

  }



.nav-con.show .nav__links,.nav-con.show  .sign-con {
  display: flex;
}

.nav-con.show .sign-con{
    height: 148px;
}


  .nav__links li a{
      font-size: 15px;
    padding: 7px 10px;
    color:#000;
  }
  .sign-con li:first-child a{
    color:#000
  }
}
