.outcome{
    padding: 0 4%;
    /* gap:30px
     */
}

.outcome-con{
    height: 450px;
     justify-content: start;
     gap:50px;
     align-items: flex-start;

}
.outcome__img-con{
    width: 700px;
}
.outcome img{
    width: 100%;
    height: 100%;
}

.outcome__text-con{
    max-width: 550px;
    padding-top: 100px;
}

.outcome-btn-con button{
    border: 1px solid #FF9F67;
    color:white;
    border-radius: 5px;
    padding: 17px 42px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    background: #FF9F67;
}

@media screen and (max-width: 1200px) {
    .outcome{
        height: auto;
    }
.outcome-con{
    flex-direction: column;
    height: auto;
}
.outcome__img-con{
    width: 90%;
    height: 690px;
    padding-left: 8%;
}
.outcome img{
    width:100%
}

.outcome__text-con{
    max-width: 60%;
    padding-top: 40px;
}
}

@media screen and (max-width: 990px) {
    .outcome{
        height: auto;
    }
.outcome-con{
    flex-direction: column;
    height: auto;
}
.outcome__img-con{
    width: 100%;
    height:auto;
    padding-left: 0%;
}
.outcome img{
    width:100%
}

}

@media screen and (max-width: 770px) {
    .outcome{
        height: auto;
    }
.outcome-con{
    flex-direction: column;
    height: auto;
}
.outcome__img-con{
    width: 100%;
    height:auto;
    padding-left: 0%;
}
.outcome img{
    width:100%
}
.outcome__text-con{
    max-width: 100%;
    padding-top: 40px;
}

}